asgiref==3.7.2
distlib==0.3.7
Django==4.0
filelock==3.13.1
gunicorn==21.2.0
packaging==23.2
platformdirs==3.11.0
psycopg2==2.9.9
pytz==2023.3.post1
setuptools==68.2.2
sqlparse==0.4.4
virtualenv==20.24.6
wheel==0.38.4
